body {
    background: #020617;
    color: white;
    font-family: sans-serif;
    padding: 15px;
}

h2 {
    color: #38bdf8;
}

/* item */
.item {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #1e293b;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
}

/* ảnh */
.item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
}

/* info */
.info {
    flex: 1;
}

.info h4 {
    margin: 0;
}

/* giá */
.price {
    color: #22c55e;
}

/* nút xoá */
.remove {
    color: #f87171;
    font-size: 20px;
    text-decoration: none;
}

/* tổng */
.total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

/* button */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background: #38bdf8;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}